<! doctype html>
<html>
<title>Hello world...</title>
<h1>Guestbook</h1>
<hr>

<h2>Sign the guestbook...</h2>
<form method="POST"> 
{{ form.csrf_token }}
{{ form.name.label }} {{ form.name }}
<br>
{{ form.msg.label }} {{ form.msg }}
<br>
{{ form.cat.label }}
<br>
{% for acat in form.cat %}
{{ acat.label }} {{ acat }} 
{% endfor %}
<br>
{{ form.submit }}
</form>
{% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for message in messages %}
      {{ message }}
   {% endfor %}
   {% endif %}
{% endwith %}

<hr>
<h2>Guestbook entries:</h2>
{% for entry in entries %}
<p><b>{{ entry.name }}</b> | {{ entry.date }}</p>
{% endfor %}
</html>
